{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <td class="text-primary">{{ episode.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td class="text-primary">{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td class="text-primary">{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td class="text-primary">{{ episode.synopsis }}</td>
        </tr>
    </table>

    {% if app.user %}
        <h4>Leave a comment about "{{ episode.title }}":</h4>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_errors(form) }}
        </div>
        <div class="comment">
            {{ form_row(form.comment, {'label': 'Comment'}) }}
            {{ form_row(form.rate, {'label': 'Rate'}) }}
        </div>
        <button class="btn">{{ button_label|default('Send') }}</button>
        {{ form_end(form) }}
    {% endif %}

    <h4>All comments about "{{ episode.title }}" :</h4>
    {% for item in episode.comments %}
        <p class="author">Author : {{ item.author }}</p>
        <p class="comment">Comment : {{ item.comment }}</p>
        <p class="rate">Rate : {{ item.rate }}</p>
    {% endfor %}

    <div>
        <a href="{{ path('episode_index') }}">back to list</a>
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
        <a href="{{ path('episode_delete', {'id': episode.id}) }}">delete</a>
    </div>

{% endblock %}
