{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Year</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td class="text-primary">{{ season.id }}</td>
                <td class="text-primary">{{ season.number }}</td>
                <td class="text-primary">{{ season.year }}</td>
                <td class="text-primary">{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('season_edit', {'id': season.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('season_new') }}">Créer une nouvelle saison</a>
    {% endif %}
{% endblock %}
