{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Poster</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td class="text-primary">{{ program.id }}</td>
                <td class="text-primary">{{ program.title }}</td>
                <td class="text-primary">{{ program.summary }}</td>
                <td><img class="card-img-top" id="tab_poster" src="{{ program.poster }}" alt="{{ program.title }}"></td>
                <td>
                    <a href="{{ path('program_show', {'slug': program.slug}) }}">show</a>
                    <a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
