{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <td class="text-primary">{{ program.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td class="text-primary">{{ program.title }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td class="text-primary">{{ program.summary }}</td>
        </tr>
        <tr>
            <th>Poster</th>
            <td><img class="card-img-top" id="tab_poster" src="{{ program.poster }}" alt="{{ program.title }}"></td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('program_index') }}">Retour à la liste des séries</a> <br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a>
        <a class="card-link" href="{{ path('program_delete', {'id': program.id}) }}">Supprimer</a> <br>
    {% endif %}
    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
            <li><a href="{{ path('actor_show', {'slug' : actor.slug} ) }}"> {{ actor.name }} <br> </a></li>

        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

{% endblock %}
