{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-0">{{ category.name }}</h1>
    <div class="row">
        {% for program in programs %}
            <div class="col-3">
                <div class="card bg-dark" style="width: 25rem;">
                    <img class="card-img-top" src="{{ program.poster }}" alt="{{ program.title }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ program.title }}</h5>
                        <p class="card-text"> {{ program.summary }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
