{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
    <h1 class="show_title">{{ program.title }}</h1>
    <div class="media">
        <img  id="poster" class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">

            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}