{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td class="text-primary">{{ actor.id }}</td>
                <td class="text-primary">{{ actor.name }}</td>
                <td class="text-primary">
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('actor_new') }}">Ajouter un acteur</a>
    {% endif %}
{% endblock %}
