{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>
    <h2 class="text-secondary">{{ actor.name }}</h2>
    <p class="text-primary"> Programs :</p>
    {% for program in programs %}
        <a href="{{ path('wild_show', {'slug': program.title|replace({' ':'-'})|lower}) }}"> {{ program }} <br> </a>
    {% endfor %}
    </tr>
    </table>
    <br>

    <a href="{{ path('actor_index') }}">Retour à la liste des acteurs</a> <br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">Modifier</a>
        <a class="card-link" href="{{ path('actor_delete', {'id': actor.id}) }}">Supprimer</a>

    {% endif %}


{% endblock %}
