{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>
    <h2 class="text-secondary">{{ actor.name }}</h2>
    <p class="text-primary"> Programs :</p>
    {% for program in programs %}
        <a href="{{ path('wild_show', {'slug': program.title|replace({' ':'-'})|lower}) }}"> {{ program }} <br> </a>
    {% endfor %}
    </tr>
    </table>
    <br>

    <a href="{{ path('actor_index') }}">back to list</a>
    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
